{% extends 'index.html' %}

{% block name %}
<div class="Shop">
    <a href="{% url 'home' %}">Мой магазин</a>
</div>
{% endblock %}

{% block store_and_add %}
<div class="navigate_store">
    <a href="{% url 'home' %}" class="">Home</a>
</div>
<div class="navigate_add">
    <a href="{% url 'add_product' %}">Add product</a>
</div>
{% endblock %}

{% block content %}
{%for product in products_by_store%}
<div class="card">
    <h3>{{ product.name }}</h3>
    <p>
        {{product.price}}
    </p>
    <div class="card_img">
        <img src="{{product.image.url}}" alt="">
    </div>
</div>
</a>
{% endfor %}
{% endblock %}